.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu::before, .menu::after, .menu> .center {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: black;
}

.menu::before, .menu > .center {
  margin-bottom: 4px;
}

